*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
.glavni{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(assets/backImg.jpg);  
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    top: 0;
    font-size: 70px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form{
    flex-direction: column;
    gap: 30px;
    display: flex;
    position: absolute;
    top: 15%;
    background-color: #2f2f2f;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
label{
    color: white;
    font-size: 25px;   
    font-family: sans-serif;
}
.nameInput, .balanceInput, .startBtn{
    height: 50px;
    width: 300px;
    font-size: 22px;
    border-radius: 13px;
    border: none;
    font-family: sans-serif;
    padding: 12px;
}
.startBtn{
    margin-top: 12px;
}
.startBtn:hover{
    background-color: rgb(190, 186, 186);
    transition-duration: 0.2s;
}

/* Game php */
.gameModal{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}
.left{
    width: 25vw;
    height: 100vh;
    background-color: #2f2f2f;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
}
.left span{
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    padding-left: 10px;
}
.backBtn{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 16px;
    border: none;
    transition-duration: 0.2s;
    margin-bottom: 30px;
}
.backBtn:hover{
    background-color: gray;
    transition-duration: 0.2s;
}
.backBtn img{
    height: inherit;
    width: inherit;
    scale: 0.8;
}
.spinBtn{
    margin-top: 30px;
    width: 80%;
    align-self: center;
    font-size: 26px;
    padding: 10px;
    border-radius: 16px;
    border: none;
}
.gamePanel{
    height: 100vh;
    width: 75vw;
    flex-direction: column;
}
.roulette{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
.roulette img{
    height: 90%;
}
.numbers{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.gridSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.ducat {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 33%; /* vsak dukat uzame okol 1/3 sirine*/
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 enakovredni stolpci */
    grid-template-rows: repeat(3, 1fr); /* 3 enake vrstice */
    gap: 10px;
}

.grid-item {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}