.glavni{
    background-image: none !important;
    background-color: #006400;
}
.gameModal {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.menu {
    width: 25vw;
    height: 100vh;
    background-color: #2f2f2f;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px
}
.menu span {
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}

.coinSelect {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #505050;
    padding: 10px;
    border-radius: 10px;
}

.chip {
    height: 60px;
    width: auto;
    transition-duration: 0.2s;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.chip svg {
    height: inherit;
    width: inherit;
}

.chipPicked {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.chip.disabled {
    filter: brightness(30%);
    transition: filter 0.2s ease;
    cursor: default;

}

.info {
    display: flex;
    gap: 10px;
}

.infoLabel {
    color: gray !important;
}

.data {
    display: flex;
}

.exitCont {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    position: relative;
    align-items: center;
}

.exitBtn {
    height: 60px;
    width: 60px;
    border-radius: 16px;
    border: none;
    transition-duration: 0.2s;
}

.exitBtn:hover {
    background-color: gray;
    transition-duration: 0.2s;
}

.exitBtn img {
    height: inherit;
    width: inherit;
    scale: 0.8;
}
.credits{
    border-radius: 100%;
    transform: scale(0.7);
    position: absolute;
    right: 0;
    background-color: #505050;

}
.credits img{
    transform: scale(0.9);
}

.btnCont {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.btnCont button {
    padding: 10px;
    border: 3px solid #505050;
    background-color: rgb(0, 0, 0, 0);
    transition-duration: 0.2s;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-radius: 16px;
    transition-duration: 0.2s;
}

.btnCont button:hover {
    background-color: #484545 !important;
}

.btnCont button svg {
    width: 30px;
    aspect-ratio: 1;
    fill: #ffffff;
    transition-duration: 0.2s;
}

#repeatBtn svg {
    transform: rotate(180deg);
}

.btnCont button span {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 22px;
    transition-duration: 0.2s;
}


.spinBtn {
    margin-top: 30px;
    width: 100%;
    align-self: center;
    font-size: 26px;
    padding: 10px;
    border-radius: 16px;
    border: none;
    transition-duration: 0.2s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #006400;
}

.spinBtn svg {
    height: 35px;
    fill: White;
}

.spinBtn:hover {
    background-color: #0e490e;
    transition-duration: 0.2s;
}

.gamePanel {
    height: 100vh;
    width: 75vw;
    flex-direction: column;
}

.rouletteCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

#roulette {
    height: 80%;
    aspect-ratio: 1;
    background-color: #2f2f2f;
    border: 10px solid #2f2f2f;
    border-radius: 100%;
}

.wheel {
    background-image: url(../assets/ruleta2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    aspect-ratio: 1;
    background-color: #2f2f2f;
    border: 10px solid #2f2f2f;
    transition-duration: 0.2s;
    border-radius: 100%;
    animation: rotateLeft 15s linear infinite;
    position: absolute;
}

@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.numbers {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridSection {
    display: grid;
    grid-auto-flow: column;
    /* fil preko stolpcev, da bo zaporedje prav - tako kot je napisano v htmlju */
    grid-template-rows: repeat(5, 1fr);
    /* 5 enake vrstice */
    grid-template-columns: repeat(14, 1fr);
    /* 14 enakih stolpcov*/
    gap: 2px;
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}


.grid-item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    transition: 0.2s;
    user-select: none;
    border: 2px solid #2f2f2f;
    position: relative;
}

.grid-item img.placed {
    position: absolute;
    top: 50%;
    /* center */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 55px;
    aspect-ratio: 1;
}

.zero {
    height: 100%;
    grid-row: span 3;
}

.ducat {
    grid-column: span 4;
}

.halfChance {
    grid-column: span 2;
}

.filler {
    opacity: 0;
    z-index: -10;
    pointer-events: none;
}

.zero,
.ducat,
.halfChance,
.row {
    background-color: #006400;
}

.grid-item.red,
.redColor {
    background-color: #ff013c;
}

.grid-item.black,
.blackColor {
    background-color: #2b4553;
}

.grid-item:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition-duration: 0.2s;
}

.placed-chip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
}

.chip-text {
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 0 3px black;
    user-select: none;
    pointer-events: none;
}

.swal2-title,
.swal2-html-container {
    color: white;
    font-family: sans-serif;
}

.swal2-confirm {
    background-color: #006400;
    width: 150px;
    border-radius: 10px;
}

.swal2-info,
.swal2-icon-content {
    color: #006400;
    border-color: #006400 !important;
}

.swal2-popup {
    background: linear-gradient(90deg, rgba(47, 47, 47, 1), rgba(60, 60, 60, 1));
    border-radius: 20px;
    padding: 10px 20px 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.resultSwal {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: popIn 0.4s ease-out;
    padding: 10px;
    gap: 10px;
}

.titleSwal {
    font-size: 55px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 5px;
}

.winSwal,
.lostSwal {
    font-family: 'Segoe UI', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
}

.winSwal {
    color: #36a036;
}

.lostSwal {
    color: #ff013c;
}

.landedSwal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}

.colorSwal {
    border-radius: 16px;
    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.redSwal {
    background-color: #ff013c;
}

.blackSwal {
    background-color: #2b4553;
}

.greenSwal {
    background-color: #006400;
}

.credit-list{
    list-style-type: none;
    line-height: 30px;
    font-size: 20px;
}
.credit-list a{
    color: #0095DD;
    text-decoration: none;
    transition-duration: 0.2s;
}
.credit-list a:hover{
    text-decoration: underline;
    transition-duration: 0.2s;
}

.tooltipCustom {
    position: absolute;
    background-color: #505050;
    color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 15px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 9999;
    font-family: sans-serif;
    pointer-events: none;
    white-space: nowrap;
    display: none;
}